@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comic+Relief:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');



body{
  background-color: #17329d;
}

.timer-text{
  position: absolute;  /* allows it to sit on top */
  top: 15%;            /* center vertically */
  left: 50%;           /* center horizontally */
  transform: translate(-50%, -50%); /* fine-tune perfect centering */
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  z-index: 10;
}

.backgrounddiv {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("scene-background.png") no-repeat center center / cover;
  justify-content: center;
  display:flex;
}

.campfire {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  z-index: 2;
  display:flex;
  justify-content: center;
}

.button{
  align-items: center;
  justify-content: center;
  display: flex;
  background-color:#304fcf;
  position: absolute;
  top:78%;
  right:46.9%;
  font-family: 'Story Script';
  z-index:10;
  font-size:20px;
  border-radius:5px;
  border-color:none;
  box-sizing: border-box;
  border-style: none;
  border-color: black;
  
}


.button:hover{
  background-color:#17329d;
  
  
  transition: background-color 0.3s ease-in-out; /* Transition background-color over 0.5 seconds */
    
}